#banner .slick-slide {
    display: block !important;
    margin: auto !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    overflow: hidden !important;
}

.bannerOverlay::before {

    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.6) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    z-index: 1;

}